body {
	width: 100%;
	height: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	justify-content: center;
}

.header-body {
	grid-column: 2/3;
	align-self: end;
	text-align: center;
}

/*.divider {
	width: 450px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}*/

.main {
	text-align: center;
}

.add_item {
	text-align: center;
}

.list {
	align-self: start;
	grid-column: 2/3;
	grid-row: 2/3;
	background: #f8f8f8;
	padding: 2em;
	border-radius: 20px;
}

.ui.transparent.input.list-item > input[type=text]:focus {
	outline:solid 1px #A9A9A9;
	padding: 5px !important;
}