<html>
	<head>
		<title>TO-DO App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
		<link href="static/css/style.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
		<script type="text/javascript" src="static/js/main.js"></script>
	</head>

	<body>
		<div class="wrapper">
			<div class="header-body">
				<h1 class="ui center aligned header-body">TO-DO List</h1>
				<div class="ui divider"></div>
			</div>
			<div class="list">
				<table align="center">
					{% for item in items %}
						<tr>
							<td>
								<form method="POST" action="/">
									<div class="ui transparent input list-item" data-content="Edit" data-variation="tiny" data-position="top center">
									<input type="hidden" value="{{item.task}}" name="oldtask">
									<input type="text" value="{{item.task}}" name="newtask">
									</div>
								</form>
							</td>
							<td>
								<form method="POST" action="./delete">
									<input type="hidden" value="{{item.task}}" name="task">
									<button class="ui icon button">
										<i class="check icon"></i>
									</button>
								</form>
							</td>
							<td>
								<form method="POST" action="./absdelete">
									<input type="hidden" value="{{item.task}}" name="task">
									<button class="ui icon button">
										<i class="times icon"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
				<table align="center">
					<tr>
						<!-- <td>
							<form>
								<i style="padding-right: 20px; color: #A9A9A9;" class="plus icon"></i>
							</form>
						</td> -->
						<td>
							<div class="add-item" align="center">
								<form method="POST" action="/">
									<div class="ui transparent action input">
										<input style="width: 175px" placeholder="Add item" type="text" name="task">
										<button class="ui icon button">
											<i class="add icon"></i>
										</button>
									</div>
								</form>
							</div>
						</td>
					</tr>
				</table>
				{% if error %}
				<div class="ui negative message">
				  <i class="close icon"></i>
				  <div class="header">
				    Item already exists
				  </div>
				</div>
				{% endif %}
				<table align="center">
					<h4 align="center" style="color: #aaa">Completed</h4>
					{% for item2 in items2 %}
						<tr>
							<td>
								<form method="POST" action="/">
								<i class="check icon" style="color: #ccc"></i>
								</form>
							</td>
							<td>
								<form method="POST" action="/">
									<div class="ui transparent input list-item">
									<input style="color: #ccc" type="text" value="{{item2.task}}" name="newtask">
									</div>
								</form>
							</td>
							<td>
								<form method="POST" action="/">
									<input type="hidden" value="{{item2.task}}" name="task">
									<button class="ui icon button">
										<i class="undo icon"></i>
									</button>
								</form>
							</td>
							<td>
								<form method="POST" action="/absdelete1">
									<input type="hidden" value="{{item2.task}}" name="task">
									<button class="ui icon button">
										<i class="times icon"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<script type="text/javascript">
			$('.message .close')
				.on('click', function() {
					$(this)
						.closest('.message')
						.transition('fade')
					;
				})
			;
		</script>
		<script type="text/javascript">
			$(".ui.transparent.input.list-item").popup();
		</script>

	</body>
</html>